<!DOCTYPE html>
<html>
<head>
	<% if flash.now[:notice] %>
	<p><%= flash[:notice] %></p>
	<% end %>
</head>
	<body>
		<p><strong>Title:</strong>

		<%= @book.title %></p>
		<p><strong>Body:</strong>

			<%= @book.body %></p>

		<footer>
			<%= link_to"Edit",edit_book_path(@book.id) %>
			|
			<a class="back" href="/books">Back</a>
		</footer>
	</body>
</html>